<div class="formss">
  <div id="wrapper">
      <div id="box">
        <div class="header">
          <h4>Sign In Below</h4>
        </div>
          <h6>USERNAME / EMAIL</h6>
          <input type="text" placeholder="johndoe@email.com">
          <h6>PASSWORD</h6>
          <input type="password" placeholder="* * * * * * * * * * *">
          <input type="submit">
      </div>
    </div>
</div>

<h2 class="mainHead center"><strong>Enter Competition Details</strong></h2>
<hr>


<div class="formCreate">
  <%= simple_form_for(@competition) do |f| %>
        <% if @competition.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

            <ul>
            <% @competition.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>


    <%= f.input :name %>

    <%= f.input :description  %>
    <%= f.input :category  %>
    <%= f.input :collegename  %>
    <%= f.input :money  %>
    
        
    <button type="submit">Create</button>

    
  <% end %>
</div>



