

<h2 class="mainHead"><strong>Create A Competition</strong></h2>
<hr>


<div class="formCreate">
  <%= simple_form_for(@competition) do |f| %>
        <% if @competition.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

            <ul>
            <% @competition.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>


    <%= f.input :name %>

    <%= f.input :description  %>
    <%= f.input :category  %>
    <%= f.input :collegename  %>
    <%= f.input :money  %>
    
        
    <button type="submit">Create</button>

    
  <% end %>
</div>



