<div class="formssComp container">
  <div id="wrapper">
      <div id="box">  
        <div class="header">
          <h4><strong>Enter Competition Details</strong></h4>
        </div>
          



          <%= form_for(@competition) do |f| %>
              <% if @competition.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

                  <ul>
                  <% @competition.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>


              <h5>EVENT NAME</h5>
              <%= f.text_field :name, autofocus: true, class: "form-control" , :placeholder => "eg. Quizzical", :autocomplete => :off%>

              <h5>EVENT CATEGORY</h5>

              
              
                <div class="btn-group btn-input clearfix">
                   <button type="button" class="btn btn-default dropdown-toggle form-control"  data-toggle="dropdown">
                      <div class="selectText">
                        <span data-bind="label" >Select One</span>&nbsp;<span class="caret"></span>
                      </div>
                   </button>
                   <ul class="dropdown-menu categ" role="menu">
                     
                              <li><a >Board Games</a></li>
                              <li><a >Bussiness Plan</a></li>
                              <li><a >Dance</a></li>
                              <li><a >Design</a></li>
                              <li><a >Debate</a></li>
                              <li><a >Electronics Design </a></li>
                              <li><a >MUN</a></li>
                              <li><a >Music</a></li>                                
                              <li><a >Programming</a></li>
                              <li><a >Quiz</a></li>
                              <li><a >Robotics</a></li>
                              <li><a >Sports</a></li>
                              <li><a >Technical Paper Presentation</a></li>
                              <li role="presentation" class="divider"></li>
                              <li><a >Miscellaneous</a></li>
                   </ul>

                 </div>
                 <input type="hidden" class="form-control" name="competition[category]" id="competition_category"/>      

              <h5>BRIEF DESCRIPTION</h5>
              <%= f.text_field :description, class: "form-control" , :placeholder => "A Bussiness and Economy Quiz", :autocomplete => :off%>

            
              <h5>COLLEGE / COMPANY NAME</h5>
              <%= f.text_field :collegename, class: "form-control" , :placeholder => "Adobe",:autocomplete => :off%>

              <h5>ORGANIZED BY</h5>
              <%= f.text_field :organizedBy, class: "form-control",  :placeholder => "The Quiz Club at Adobe  |  [Fest name/Club name/Fete name]" ,:autocomplete => :off%>

              <h5>LOCATION</h5>
              <input class="form-control" type="text" name="competition[location]" id="competition_location">

              <h5>ONLINE/ONSITE EVENT</h5>
              <div class="btn-group btn-input clearfix">
                   <button type="button" class="btn btn-default dropdown-toggle form-control"  data-toggle="dropdown">
                      <div class="selectText">
                        <span data-bind="label" >Select</span>&nbsp;<span class="caret"></span>
                      </div>
                   </button>
                   <ul class="dropdown-menu onOff" role="menu">
                              
                              <li><a >Online</a></li>
                              <li><a >Onsite</a></li>
                              
                   </ul>

                 </div>
              <input type="hidden" class="form-control" name="competition[onOff]" id="competition_onOff"/>  

              <h5>TOTAL PRIZE MONEY[Rupees]</h5>
              <div class="prizeMoney">
                <input class="form-control"  type="number" name="competition[money]" id="competition_money"
                    min="0" max="100000" step="1000" maxlength="6" >
              </div>

              <h5>WEBSITE</h5>
              <%= f.text_field :linkWebsite, class: "form-control", :placeholder => "Enter the link of the events website"%>

              <h5>FB PAGE</h5>
              <%= f.text_field :linkFb, class: "form-control", :placeholder => "Enter the link of the events FB page" %>

              
               <h5>STARTS AT</h5>
               
              <div class="y">
                  <div class="x">
                      <input type='text' class="form-control" name="competition[startDateText]" id="competition_startDateText"/>
                  </div>
              </div>


              <h5>ENDS AT</h5>
              <div class="y">
                  <div class="x">
                      <input type='text' class="form-control" name="competition[endDateText]" id="competition_endDateText"/>
                  </div>
              </div>
              



              <%= f.submit class: "btn btn-primary" %>


    
          <% end %>

      </div>
     
    </div>
</div>



             