<div id="comp">
    <% @competitions.each do |competition| %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <%= competition.name %>
          <%= competition.user.email if competition.user%>
          <%= competition.description %>
          <%= competition.collegename %>
          <%= competition.money %>
          <%= link_to 'Show', competition %>

          <% if competition.user == current_user %>
            <%= link_to 'Edit', edit_competition_path(competition) %>
            <%= link_to 'Destroy', competition, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>


    <% end %>
</div>
  

