<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @competition.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @competition.description %>
</p>

<p>
  <strong>Collegename:</strong>
  <%= @competition.collegename %>
</p>

<p>
  <strong>Money:</strong>
  <%= @competition.money %>
</p>
<% if @competition.user == current_user %>
  <%= link_to 'Edit', edit_competition_path(@competition)%>
<% end %>|
<%= link_to 'Back', competitions_path %>
