<!DOCTYPE html>
<html>
<head>
  <title>Protone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--<link rel='stylesheet' media='screen and (max-width: 767px)' href='../../../../app/assets/stylesheets/media.css' />-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <meta name="viewport" content="width=device-width">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=en-US"></script>
  <%= render 'layouts/shim' %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<body>
	<%= render 'layouts/header' %>
  <div class="flash-message">
    <% flash.each do |name, msg| %>
       <%= content_tag(:div, msg, class: "alert alert-success alert-block fade in") %>
    <% end %>
  </div>

	<div class="container mainContent">
          <%= yield %>

  </div>
  <%= render 'layouts/footer' %>



</body>
</html>
